<div class="table-auto relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    # Historial
                </th>
                <th scope="col" class="px-6 py-3">
                    Cedula
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Apellido
                </th>
                <th scope="col" class="px-6 py-3">
                    Teléfono
                </th>
                <th scope="col" class="px-6 py-3">
                    Correo
                </th>
                <th scope="col" class="px-6 py-3">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @for (pacientes of paciente; track pacientes; let i = $index) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{pacientes.numero_historial}}
                    </th>
                    <td class="px-6 py-4">
                        {{pacientes.cedula}}
                    </td>
                    <td class="px-6 py-4">
                        {{pacientes.nombre}}
                    </td>
                    <td class="px-6 py-4">
                        {{pacientes.apellido}}
                    </td>
                    <td class="px-6 py-4">
                        {{pacientes.telefono}}
                    </td>
                    <td class="px-6 py-4">
                        {{pacientes.correo}}
                    </td>
                    <td class="px-6 py-4">
                        <i class="fa-solid fa-pencil edit" (click)="pacienteData(i)"></i>
                        <i class="fa-solid fa-trash delete" (click)="deleteData(i)"></i>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

